{% extends 'base.html' %}
{% block title %}章节信息{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <div class="wp">
		<ul  class="crumbs">
			<li><a href="{% url 'index' %}">首页</a>></li>
			<li><a href="{% url 'course:course_list' %}">公开课></a></li>
            <li><a href="{% url 'course:course_detail' course.id %}">课程信息></a></li>
            <li>章节信息</li>
		</ul>
	</div>
{% endblock %}
{% block DIY_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/learn-less.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/aui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mooc.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/common-less.css' %}">
{% endblock %}
{% block content %}
<div id="main">
    <div class="course-infos">
        <div class="w pr">
            <div style="height: 15px" class="path">
            </div>
            <div class="hd">
                <h2 class="l">&nbsp;&nbsp;{{ course.name }}</h2>
            </div>
            <div class="statics clearfix">
                <div class="static-item ">
                    <span class="meta">课程难度</span>
                    <span class="meta-value"><strong>{{ course.get_degree_display }}</strong></span>
                    <em></em>
                </div>
                <div class="static-item">
                    <span class="meta">课程时长</span>
                    <span class="meta-value"><strong>{{ course.learn_times }}</strong>分钟</span>

                    <em></em>
                </div>
                <div class="static-item">
                    <span class="meta">学习人数</span>
                    <span class="meta-value"><strong>{{ course.students }}</strong></span>

                    <em></em>
                </div>
            </div>
        </div>
    </div>

    <div class="course-info-main clearfix w has-progress">

    <div class="info-bar clearfix">
        <div class="content-wrap clearfix">

            <div class="content">
                <div class="mod-tab-menu">
                    <ul class="course-menu clearfix">
                        <li><a class="ui-tabs-active active" id="learnOn"  href="{% url 'course:course_info' course.id %}"><span>章节</span></a></li>
                        <li><a id="commentOn" class="" href="{% url 'course:course_comment' course.id %}"><span>评论</span></a></li>
                    </ul>
                </div>

                <div class="mod-chapters">
                    {% for lesson in course.get_course_lesson %}
                    <div class="chapter chapter-active" >
                        <h3>
                            <strong><i class="state-expand"></i>{{ lesson.name }}</strong>
                        </h3>
                        <ul class="video">
                            {% for video in lesson.get_lesson_video %}
                            <li>
                                <a target="_blank" href='{% url 'course:video_play' video.id %}' class="J-media-item studyvideo">{{ video.name }}
                                    <i class="study-state"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>

            </div>

            <div class="aside r">
                <div class="bd">

                    <div class="box mb40">
                        <h4>授课教师</h4>
                        <div class="teacher-info">
                            <a href="/u/315464/courses?sort=publish" target="_blank">
                                <img src='{{ MEDIA_URL }}{{ course.teacher.image }}' width='80' height='80' />
                            </a>
        <span class="tit">
          <a href="/u/315464/courses?sort=publish" target="_blank">{{ course.teacher.name }}</a>
        </span>
                        </div>
                        <div class="course-info-tip">
                            <dl class="first">
                                <dt>教师寄语</dt>
                                <dd class="autowrap">{{ course.teacher_tell }}</dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="clear"></div>

    </div>

</div>
</div>
{% endblock %}

