{% extends 'base.html' %}
{% block title %}章节信息{% endblock %}
{% load staticfiles %}
{% block DIY_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/learn-less.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/aui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/mooc.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/muke/course/common-less.css' %}">
    <link href="//vjs.zencdn.net/6.7/video-js.min.css" rel="stylesheet">
{% endblock %}
{% block custom_bread %}
<section>
	<div class="wp">
		<ul  class="crumbs">
			<li><a href="{% url 'index' %}">首页</a>></li>
            <li ><a href="{% url 'course:course_list' %}">公开课</a></li>
            <li><a href="{% url 'course:course_detail' course.id %}">>{{ course.name }}</a></li>
            <li>{{ video.name }}</li>
		</ul>
	</div>
</section>
{% endblock %}
{% block content %}
<div id="main">
    <div style="width:1200px;height:500px; margin-left: auto;margin-right: auto;margin-bottom: 460px">
        <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="1200"
              poster="http://video-js.zencoder.com/oceans-clip.png"
              data-setup="{}">
            <source src="{{ MEDIA_URL }}{{ video.my_url }}" type='video/mp4'>
        </video>
    </div>
    <div class="course-info-main clearfix w has-progress">

    <div class="info-bar clearfix">
        <div class="content-wrap clearfix">

            <div class="content">
                <div class="mod-tab-menu">
                    <ul class="course-menu clearfix">
                        <li><a class="ui-tabs-active active" id="learnOn"  href="{% url 'course:course_info' course.id %}"><span>章节</span></a></li>
                        <li><a id="commentOn" class="" href="{% url 'course:course_comment' course.id %}"><span>评论</span></a></li>
                    </ul>
                </div>

                <div class="mod-chapters">
                    {% for lesson in course.get_course_lesson %}
                    <div class="chapter chapter-active" >
                        <h3>
                            <strong><i class="state-expand"></i>{{ lesson.name }}</strong>
                        </h3>
                        <ul class="video">
                            {% for video in lesson.get_lesson_video %}
                            <li>
                                <a target="_blank" href='/video/3662' class="J-media-item studyvideo">{{ video.name }}
                                    <i class="study-state"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>

            </div>

            <div class="aside r">
                <div class="bd">

                    <div class="box mb40">
                        <h4>授课教师</h4>
                        <div class="teacher-info">
                            <a href="/u/315464/courses?sort=publish" target="_blank">
                                <img src='{{ MEDIA_URL }}{{ course.teacher.image }}' width='80' height='80' />
                            </a>
        <span class="tit">
          <a href="/u/315464/courses?sort=publish" target="_blank">{{ course.teacher.name }}</a>
        </span>
                        </div>
                        <div class="course-info-tip">
                            <dl class="first">
                                <dt>教师寄语</dt>
                                <dd class="autowrap">{{ course.teacher_tell }}</dd>
                            </dl>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="clear"></div>

    </div>

</div>
</div>
{% endblock %}
{% block DIY_js %}
<script src="//vjs.zencdn.net/6.7/video.min.js"></script>
<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
{% endblock %}