{% extends 'base.html' %}
{% block title %}机构列表-cheese{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
<section>
	<div class="wp">
		<ul  class="crumbs">
			<li><a href="{% url 'index' %}">首页</a>></li>
			<li>课程机构</li>
		</ul>
	</div>
</section>
{% endblock %}

{% block content %}
<section>
	<div class="wp butler_list_box list">
	<div class='left'>
		<div class="listoptions">
			<ul>
				<li>
					<h2>机构类别</h2>
					<div class="cont">
                        <a href="?city={{ city_id }}"><span class="{% ifequal category '' %} active2 {% endifequal %}">全部</span></a>

                            <a href="?ct=jyjg&city={{ city_id }}"><span class="{% ifequal category 'jyjg' %}active2{% endifequal %}">教育机构</span></a>

                            <a href="?ct=gr&city={{ city_id }}"><span class="{% ifequal category 'gr' %}active2{% endifequal %}" >个人</span></a>

                            <a href="?ct=shzz&city={{ city_id }}"><span class="{% ifequal category 'shzz' %}active2{% endifequal %}" >社会组织</span></a>

					</div>
				</li>
				<li>
					<h2>所在地区</h2>
					<div class="cont">
                        <a href="?ct={{ category }}"><span class="{% ifequal city_id '' %} active2 {% endifequal %}">全部</span></a>
                            {% for city in all_citys %}
                                <a href="?city={{ city.id }}&ct={{ category }}" class="{% ifequal city_id city.id|stringformat:'i' %} active2 {% endifequal %}"><span >{{ city.name }}</span></a>
                            {% endfor %}

					</div>
				</li>
			</ul>
		</div>
		<div class="all">共<span class="key">{{ org_nums }}</span>家</div>
		<div class="butler_list company list">
		<div class="layout">
			<div class="head">
				<ul class="tab_header">
					<li class="{% if sort == '' %}active{% endif %}"><a href="?district=&price=all&order_by=time">全部</a> </li>
					<li class="{% if sort == 'students' %} active {% endif %}" ><a href="?sort=students">学习人数 &#8595;</a></li>
					<li class="{% if sort == 'courses' %} active {% endif %}" ><a href="?sort=courses">课程数 &#8595;</a></li>
				</ul>
			</div>

            {% for org in all_orgs.object_list %}
                <dl class="des difdes">
                    <dt>
                        <a href="{% url 'org:org_home' org.id %}">
                            <img width="200" height="120" class="scrollLoading" data-url="{{ MEDIA_URL }}{{ org.image }}" src="{% static 'images/pixel.gif' %}"/>
                        </a>
                    </dt>
                    <dd>
                        <div class="clearfix">
                             <a href="{% url 'org:org_home' org.id %}">
                                 <h1>{{ org.name }}</h1>
                             </a>
                        </div>
                        <ul class="cont">
                            <li class="first"><p>课程数：<span>{{ org.course_nums }}</span></p><p class="c7"><span>{{ org.students }}</span></p></li>
                            <li style="padding-left:18px;">{{ org.address }}</li>
                            <li style="padding-left:18px;">机构简介：
                                {{ org.desc }}
                            </li>
                        </ul>
                    </dd>
                </dl>
            {% endfor %}


		</div>
		 <div class="pageturn">
            <ul class="pagelist">
                {% if all_orgs.has_previous %}
                    <li class="long"><a href="?{{ all_orgs.previous_page_number.querystring }}">上一页</a></li>
                {% endif %}

                {% for page in all_orgs.pages %}
                    {% if page %}
                        {% ifequal page all_orgs.number %}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li class="none"><a href="">...</a></li>
                    {% endif %}
                {% endfor %}
                {% if all_orgs.has_next %}
                    <li class="long"><a href="?{{ all_orgs.next_page_number.querystring }}">下一页</a></li>
                {% endif %}

            </ul>
        </div>
		</div>
	</div>
</section>
{% endblock %}